[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
mediapipe = "*"
stow = "*"
numpy = "*"
tqdm = "*"
onnxruntime = "*"
tf2onnx = "*"
tensorflow = "==2.*"
boto3 = "*"
onnxruntime-gpu = "*"

[dev-packages]

[requires]
python_version = "3.10"
